/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* TODO: Find a better place where styles for lib need to be imported */
@import '~@angular/cdk/overlay-prebuilt.css';
